<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi, eu sou Miguel Fillipe estudante de análise de sistemas na Unigranrio</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>